.awardsSection {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: left;
    padding: 0 20px;
    background: #06050607; 
  }
  
  .container {
    margin-top: 12%;
    max-width: 1000px;
    margin-left: 100px;
  }
  
  .title {
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 30px;
    font-family:Afical Stencil;
  }
  
  .description {
    font-size: 1.0rem;
    color: #bbb;
    line-height: 1.5;
    max-width: 800px;
    margin: 0 auto 40px auto;
    font-family: default;
  }
  
  .awardsGrid {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-left: -350px;
  }
  
  .awardImage {
    max-width: 100px;
    height: auto;
    opacity: 0.8;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  .awardImage:hover {
    transform: scale(1.1);
    opacity: 1;
  }
  