.packages {
    padding: 60px;
    background: black;
    color: white;
    text-align: left;
  }
  
  .packageList {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .package {
    padding: 20px;
    background: white;
    color: black;
    border-radius: 10px;
  }
  